.App {
  text-align: center;
}

.logo {
  height: 40px;
}

.bg-colored {
  background-color: #faf7f2;
}

.btn-yellow {
  background-color: #fdc913 !important;
  font-size: 16px;
  font-weight: 600;
}

.hero-heading {
  font-family: "Martel", serif;
  font-size: 56px;
  font-weight: 700;
  color: #292929;
}

.hero-subtitle {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #666666;
}

.grass-img {
  width: 20%;
}
.custom-bg:nth-child(even) {
  background-color: #fdc913 !important;
}

.info-section {
  margin-bottom: 100px;
}

.signup-heading {
  font-family: "Manrope", serif;
  font-size: 50px;
  font-weight: 700;
  color: #292929;
}

.signup-subtitle {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #666666;
}

.signup-form-heading {
  font-family: "Manrope", serif;
  font-size: 24px;
  font-weight: 700;
  color: #ce2829;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
button:focus,
.uneditable-input:focus {
  border-color: #fdc913;
  box-shadow: none !important;
}

.menu-tab-font {
  font-family: "Martel", serif;
  font-size: 22px;
  font-weight: 600;
  color: #222222;
}
.menu-tab-font:link {
  color: #222222 !important;
}

.slick-prev {
  left: -50px !important;
  z-index: 10;
  background-color: black !important;
}
.slick-next {
  right: -50px !important;
  z-index: 10;
  background-color: black !important;
}

.card-font {
  font-family: "Martel", serif;
  font-size: 19px;
  font-weight: 600;
  color: #666666;
}

.card-rounded {
  border-radius: 50px;
}
